<div class="jumbotron" style="background-image: url( <%= image_path 'hero.jpg' %>  ); ">
  <h1 class="display-4">Lease Manager</h1>
  <p class="lead">All of your rental property needs, under one roof.</p>

</div>

<style media="screen">
  .jumbotron {
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;

  }
  .jumbotron * {
    background: rgba(256, 256, 256, 0.9);
  }
</style>
